.top_menu {
	width: 1100px;
	margin: 0 auto;
	/*background-color: #ffff9f;*/
}

.right_tab{
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	padding: 35px;
	/*background-color: #9fffff;*/
}
.main_body{
	-webkit-flex:4;
	-moz-flex: 4;
	flex: 4;
	background-color: #f6f6f6;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 25px;
}
.left_tab{
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	padding: 25px;
	/*background-color: #9f9fff;*/
}

.container{
	display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
margin: 0 auto;
width: 1100px;
height: 800px;
	/*background-color: #9f9f9f;*/
}

.footer {
	width: 1100px;
	margin: 0 auto;
	/*background-color: #ffff9f;*/
}


h1 {
  font-size: 4em;
  color: #00B5AD;
  line-height: 1.2;
  margin: -20px 0px 0px;
  padding-bottom: 0px;
  padding: 10px;
  font-family: "autobahn";
}
.brand {
	height: 100px;
	margin: 0 auto;
	
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 10px;
}