<!-- List start will devide into 3 colnom -->
<div class="container">
	<h2>List</h2>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<h5>TO DO</h5>
			<!-- list group start -->
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
			</div>
			<!-- list group end -->
		</div>
		<div class="col-md-4">
			<h5>IN PROGRESS</h5>
			<!-- list group start -->
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
			</div>
			<!-- list group end -->
		</div>
		<div class="col-md-4">
			<h5>DONE</h5>
			<!-- list group start -->
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
				<a href="#" class="list-group-item">
					<h4>This is the title which should be very long</h4>
					<span class="badge">Hours</span><p>assigned To</p>
				</a>
			</div>
			<!-- list group end -->
		</div>
	</div>
</div>
<!-- List end -->